.sidebar {
    width: 260px;
    margin: 20px;
    padding: 25px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-text {
    color: #4f46e5;
    font-size: 32px;
    font-weight: 700;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 40px;
}

.nav-item {
    text-decoration: none;
    color: #334155;
    padding: 16px 20px;
    border-radius: 14px;
    transition: 0.3s;
    font-weight: 500;
}

    .nav-item:hover,
    .nav-item.active {
        background: linear-gradient(135deg, #6366f1, #8b5cf6);
        color: white;
    }

.logout-btn {
    width: 100%;
    border: none;
    padding: 14px;
    border-radius: 14px;
    background: #ef4444;
    color: white;
    cursor: pointer;
    font-weight: 600;
}
